project:
  type: website
  output-dir: docs

website:
  title: "Quincy Noel"
  image: QuincyNoel.png
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual
